<div class="casestudy">
    <div class="row around-sm">
        {{- if .infos -}}
        <div class="col-sm-3 infos center-block">
            <section>
                <h1>{{- .infos.name -}}</h1>
                <p>{{- .infos.tagline -}}</p>
                <a href="{{- .infos.url -}}"><button class="btn">View case study</button></a>
            </section>
        </div>
        {{- end -}}
        {{- if .quote -}}
        <div class="col-sm-5 quote">
            <section>
                <p>{{- .quote.text -}}</p>
                 <div class="author row middle-sm">
                    <div class="col-sm-2 ">
                        <img src="{{- .quote.author.imgUrl -}}" alt="{{- .quote.author.name -}}">
                    </div>
                    <div class="col-sm-10">
                        <h4>{{- .quote.author.name -}}</h4>
                        <p>{{- .quote.author.position -}}</p>
                    </div>
                </div>
            </section>
        </div>
        {{- end -}}
        {{- if .stats -}}
        <div class="col-sm-4 stats">
            <section>
                {{- range .stats -}}
                <div class="col-sm-12">
                    <h2>{{- .value -}}</h2>
                    <p>{{- .name -}}</p>
                </div>
                {{- end -}}
            </section>
        </div>
        {{- end -}}
    </div>
</div>