<div class="casestudy">
    <div class="row">
        <div class="col-sm-3 infos center-block">
            <h4>{{- .infos.name -}}</h4>
            <p class="tiny">{{- .infos.tagline -}}</p>
            <a href="{{- .infos.url -}}" class="btn smaller">View case study</a>
        </div>
        <div class="col-sm-5 quote">
            <p class="small quote-text">{{- .quote.text -}}</p>
            <div class="author row middle-sm">
                <div class="col-xs-2">
                    <img src="{{- .quote.author.imgUrl -}}" alt="{{- .quote.author.name -}}">
                </div>
                <div class="col-xs-10">
                    <p class="tiny">
                        <strong>{{- .quote.author.name -}}</strong><br>
                        {{- .quote.author.position -}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 stats">
            {{- range .stats -}}
            <div>
                <h4>{{- .value -}}</h4>
                <p class="smaller">{{- .name -}}</p>
            </div>
            {{- end -}}
        </div>
    </div>
</div>