{{- with .Site.Data.companies.content -}}
<div id="our-subsidiary-companies" class="section">
    <div class="container">
        <div class="row between-xs">
            <div class="xol-xs-12 col-md-6 col-lg-5">
                <h2>{{- .subtitle -}}</h2>
            </div>
            <div class="col-xs-12 col-md-6 align-right first-xs last-md">
                <h6>{{- .title -}}</h6>
            </div>
        </div>
        <div class="row between-xs spaced companies">
            {{- range .companies -}}
            <div class="col-xs-12 col-sm-6 col-md-3 content">
                {{- partial (printf "icons/%s.html" .icon) -}}
                <p class="smaller">
                    {{- .text -}}<br><br>
                    {{ if .link }}
                    
                    {{end}}
                </p>
               <a class="smaller" href="{{- .link -}}" target="_blank">Visit Website</a>
            </div>
            {{- end -}}
        </div>
    </div>
</div>
{{- end -}}