{{- $title := (printf "<p>%s</p>" .name) -}}
{{- if .big -}}
{{- $title = (printf "<h5>%s</h5>" .name) -}}
{{- end -}}
<div class="link-card {{ .class }}">
	<a {{ if .url }} href="{{- .url -}}"{{ end }} title="{{- .name -}}">
		<div class="--{{.page}} inner{{ if .info }} with-info{{ end }}">
			<div class="content">
				{{- $title | safeHTML -}}
				{{- if .info -}}
				<p class="info tiny hide-sm">{{- .info -}}</p>
				{{- end -}}
			</div>
			<div class="link-arrow">
				{{- partial "icons/arrow-right.html" -}}
			</div>
		</div>
	</a>
</div>
