<div id="team-section" class="section">
    <div class="container">
        <h4>Core Team</h4>
        {{- range .members -}}
        <div class="row">
            <div class="col-md-4">
                <p class="small"><strong>{{ .name }}</strong></p>
            </div>
            <div class="col-md-4">
                <p class="small">{{ .position }}</p>
            </div>
            <div class="col-md-2">
                <img src="{{- .gif -}}" alt="{{- .name -}}" class="gif">
            </div>
            <div class="col-md-2">
                <p class="small">{{ .city }}</p>
            </div>
        </div>
        {{- end -}}
    </div>
</div>