
// Default
body{
    cursor: $normal;
    &:active{
        cursor: $click !important;
    }
}

 // Button & Links
 ::-webkit-any-link:hover{cursor: $hover;}
 ::-webkit-any-link:active {cursor: pointer;}

// Text
h1, h2, h3, h4, h5, h6, p{
    cursor: $text;
    &:active{
        cursor: $click;
    }
}