@font-face {
    font-family: "SuisseIntl";
    src: url("/fonts/SuisseIntl-Light-WebS.woff") format('woff'),
        url("/fonts/SuisseIntl-Light-WebS.woff2") format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "SuisseIntl";
    src: url("/fonts/SuisseIntl-Medium-WebS.woff") format('woff'),
        url("/fonts/SuisseIntl-Medium-WebS.woff2") format('woff2');
    font-weight: medium;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $hfont;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 2rem;
}

h1 {
    font-size: 6.25rem;
    line-height: 6.875rem;
    margin-bottom: 4rem;
    &.home {
        font-size: 5.3125rem;
        line-height: 1.35em;
        letter-spacing: -1px;
        @include breakpoint(sm-down) {
            font-size: 2.813rem;
        }
    }
    @include breakpoint(sm-down) {
        font-size: 2.813rem;
    }
}

h2 {
    font-size: 3.4375rem;
    line-height: 1.27em;
    margin-bottom: 4rem;
    @include breakpoint(sm-down) {
        font-size: 2.1875rem;
    }
}

h3 {
    font-size: 2.5rem;
    line-height: 1.32em;
    margin-bottom: 2rem;
}

h4 {
    font-size: 2.1875rem;
    line-height: 1.40em;
    margin-bottom: 2rem;
    @include breakpoint(sm-down) {
        font-size: 1.688rem;
    }
}

h5 {
    font-size: 1.75rem;
    line-height: 1.36em;
    margin-bottom: 2rem;
    @include breakpoint(sm-down) {
        font-size: 1.5625rem;
    }
}

h6 {
    font-size: 1.25rem;
    line-height: 1.50em;
    margin-bottom: 2rem;
    @include breakpoint(sm-down) {
        font-size: 1.375rem;
    }
    &.with-dash {
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding-left: 45px;
        transition: 0.4s;
        &:before {
            content: '';
            transition: 0.4s;
            position: absolute;
            border-bottom: 1px solid black;
            left: 0px;
            width: 35px;
            top: calc(50% - 1px);
        }
        &.white::before {
            border-color: white;
        }
        &:hover {
            padding-left: 60px;
            &:before {
                width: 50px;
            }
        }
    }
}

p {
    font-weight: 300;
    font-size: 1.0625rem;
    line-height: 1.59em;
    @include breakpoint(sm-down) {
        font-size: 1.25rem;
    }
    &.small {
        font-size: 0.9375rem;
        @include breakpoint(sm-down) {
            font-size: 1.125rem;
        }
    }
    &.smaller {
        font-size: 0.875rem;
        @include breakpoint(sm-down) {
            font-size: 1rem;
        }
    }
    &.tiny {
        font-size: 0.75rem;
        @include breakpoint(sm-down) {
            font-size: 0.875rem;
        }
    }
}

#article-main {
    p {
        font-size: 1.25rem;
    }
}

a {
    font-weight: 300;
    color: inherit;
    text-decoration: none;
    &.small {
        font-size: 0.9375em;
    }
    &:hover {
        text-decoration: none;
    }
}

button {
    font-size: 1rem;
    line-height: 1.5rem;
}

ul, ol, li {
    font-weight: 300;
    font-size: 1.0625rem;
    line-height: 1.59em;
}