$hfont: 'SuisseIntl', sans-serif;
$pfont: 'SuisseIntl', sans-serif;

$normal : url('/img/cursor/NORMAL.svg'), auto;
$hover : url('/img/cursor/HOVER.svg'), auto;
$click : url('/img/cursor/CLICK.svg'), auto;
$text : url('/img/cursor/TEXT.svg'), auto;
$draggable : url('/img/cursor/DRAGGABLE.svg'), auto;
$dragging : url('/img/cursor/DRAGGING.svg'), auto;

$xs: 25em;
$sm: 48em;
$md: 64em;
$lg: 75em;
$maxwidth: 1400px;

$white: #FFFFFF;
$black: #000000;
$black_sub1: #626262;
$black_sub2: #B9B9B9;
$black_sub3: #D7D7D7;
$accent: #E3D7FD;

// Utils
$br: 4px;
$navheight: 5.25em;
$mobilenavheight: 4em;