{{- define "main" -}}
<div id="services-list-hero">
    <div class="container">
        <div class="row middle-xs spaced">
            <div class="col-xs-12 col-md-8">
                <h1>{{- .Params.h1 -}}</h1>
            </div>
            <div class="col-xs-12 col-md-4">
                <h4>{{- .Params.explanation -}}</h4>
            </div>
        </div>
    </div>
</div>

<div id="services-list" class="section">
    <div class="container">
        <div class="row middle-xs">
            <div class="col-xs-7">
                <h2>{{- .Params.h2 | default "Services" -}}</h2>
            </div>
            <div class="col-xs-5 align-right">
                <h6 class="with-dash white">
                    <a href="#" title="Unsure which one is best for you? ">Unsure which one is best for you?</a>
                </h6>
            </div>
            {{- range .Pages -}}
            {{- partial "site/linkcard" (dict "context" . "name" .Params.listing.title "info" .Params.listing.description "url" .Permalink "class" "col-xs-12 col-sm-6 col-md-4" "big" true) -}}
            {{- end -}}
        </div>
        {{- with .Params.clients -}}
        <div class="row middle-xs between-xs logos">
            {{- range . -}}
                {{- partial (printf "icons/%s.html" .icon) -}}
            {{- end -}}
        </div>
        {{- end -}}
    </div>
</div>

{{- partial "site/cta" . -}}
{{- partial "site/team" (dict "context" . "members" $.Site.Data.team.members) -}}
{{- end -}}