{{- define "main" -}}
<div id="services-single-hero">
    <div class="container">
        <div class="row middle-xs spaced">
            <div class="col-xs-12 col-md-8">
                <h1>{{- .Params.h1 -}}</h1>
            </div>
            <div class="col-xs-12 col-md-4">
                <h4>{{- .Params.explanation -}}</h4>
            </div>
        </div>
    </div>
</div>

<div id="services-list" class="section">
    <div class="container">
        <div class="row start-xs middle-xs">
            <div class="col-xs-12 col-sm-6">
                <h2>Services</h2>
            </div>
            <div class="col-xs-12 col-sm-6 end-sm">
                <h6 class="with-dash white">
                    <a href="#" title="Unsure which one is best for you? ">Unsure which one is best for you?</a>
                </h6>
            </div>
            {{- range .Params.services -}}
            {{- partial "site/linkcard" (dict "context" . "name" .name "info" .description "url" "#" "class" "col-xs-12 col-sm-6 col-md-4" "big" true) -}}
            {{- end -}}
        </div>
    </div>
</div>

{{- with .Params.clients -}}
<div id="services-single-clients" class="section">
    <div class="container">
        <h2>{{- .title -}}</h2>
        <div class="row middle-xs between-xs logos">
            {{- range .logos -}}
            <div class="col-xs-6 col-sm-4 col-md-2">
                 {{- partial (printf "icons/%s.html" .icon) -}}           
            </div>
            {{- end -}}
        </div>
    </div>
</div>
{{- end -}}

{{- partial "site/cta" . -}}
{{- partial "site/team" (dict "context" . "members" $.Site.Data.team.members) -}}
{{- end -}}