{{- define "main" -}}
<div id="case-studies-hero">
    <div class="container">
        <div class="row middle-xs section">
            <div class="col-md-10">
                <h1 class="home">{{- .Params.h1 -}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="articles-list section first">
    <div class="container">
        <div class="row">
            {{ range where (where $.Site.Pages "Type" "case-studies") ".Params.external" "!=" false }}
                {{- partial "site/articlecard" (dict "context" . "img" .Params.listing.img "description" .Params.listing.description "url" .Permalink "class" "col-xs-12 col-md-6") -}}
            {{ end }}
            {{- range .Pages -}}
            {{- end -}}
        </div>
    </div>
</div>
{{- end -}}