<svg width="46" height="45" viewBox="0 0 46 45" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#icon-content)">
<path d="M45.5258 0.480774H0.474243V44.5192H45.5258V0.480774Z" fill="white" stroke="black" stroke-miterlimit="10"/>
<path d="M13.8474 18.6539H33.8598" stroke="black" stroke-miterlimit="10"/>
<path d="M13.8474 25H27.6" stroke="black" stroke-miterlimit="10"/>
</g>
<defs>
<clipPath id="icon-content">
<rect width="46" height="45" fill="white"/>
</clipPath>
</defs>
</svg>
