<svg width="48" height="54" viewBox="0 0 48 54" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#icon-search)">
    <path d="M21.7 42.9C33.4084 42.9 42.9 33.4084 42.9 21.7C42.9 9.99156 33.4084 0.5 21.7 0.5C9.99156 0.5 0.5 9.99156 0.5 21.7C0.5 33.4084 9.99156 42.9 21.7 42.9Z" stroke="black" stroke-miterlimit="10"/>
    <path d="M46.9 53.7L34.6 38.7" stroke="black" stroke-miterlimit="10"/>
    </g>
    <defs>
    <clipPath id="icon-search">
    <rect width="47.3" height="54" fill="white"/>
    </clipPath>
    </defs>
</svg>
    