<footer class="site-footer" role="contentinfo">
    <div class="container">
        <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12 dd-icon">{{- partial (printf "icons/digitaldigital-ico.html") -}}</div>
            {{- range $.Site.Data.menu.footer -}}
            <div class="{{- .class -}}">
                <p class="small hide-sm">{{- .title -}}</p>
                <ul>
                    {{- range .links -}}
                    <li><a href="{{- $.Site.BaseURL -}}{{- .link -}}" title="{{- .text -}}">{{- .text -}}</a></li>
                    {{- end -}}
                </ul>
            </div>
            {{- end -}}
            <div class="col-xs-12 subfooter">
                <p class="tiny">
                    &copy; <a href="{{ .Site.BaseURL }}">{{ .Site.Title }} </a> {{ now.Format "2006" }}
                </p>
            </div>
        </div>
    </div>
</footer>