<header id="header-main" class="{{- if .Params.blackheader -}}black{{- end -}}">
    <div class="container">
        <div class="row middle-xs between-xs" id="header">
            <div class="col-xs-12 col-sm-6">
                <a href="{{- $.Site.BaseURL -}}" title="DigitalDigital" class="logo">
                    DigitalDigital
                </a>
                <button class="hamburger hamburger--squeeze" type="button" id="menu-icon">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                    Esc
                </button>
            </div>
            <div class="col-xs-6 col-sm-6 hide-sm">
                <ul class="right">
                    <li><a href="#" title="Contact">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>
</header>
<div id="menu-overlay" class="hide-sm">
    <div class="container">
        <div class="row">
            {{- range $.Site.Data.menu.main -}}
            <div class="{{- .class -}}">
                <p class="title">{{- .title -}}</p>
                <ul>
                    {{- range .links -}}
                    <li><a href="{{- $.Site.BaseURL -}}{{- .link -}}" title="{{- .text -}}">{{- .text -}}</a></li>
                    {{- end -}}
                </ul>
            </div>
            {{- end -}}
        </div>
    </div>
</div>
<div id="menu-overlay-mobile">
    <div class="container">
            {{- range $.Site.Data.menu.mobile -}}
                <ul {{ if .links }} class="has-sublinks"  {{ end }}>
                <h6 class="title" data-toggle="collapse" data-target=".collapse{{- .title -}}">
                    {{- .title -}} 
                    {{ if .links }}
                        <span class="plus-icon">{{- partial "icons/plus.html" -}}</span>
                        <span class="arrow-top-icon">{{- partial "icons/arrow-top.html" -}}</span>
                    {{ end }}
                </h6> 
                   <div class="content collapse collapse{{- .title -}}"> 
                        {{- range .links -}}
                        <li><a href="{{- $.Site.BaseURL -}}{{- .link -}}" title="{{- .text -}}">{{- .text -}}</a></li>
                        {{- end -}}                   
                   </div>
                </ul>
            {{- end -}}
    </div>
</div>
