{{- define "main" -}}
<div id="home-hero">
    <div class="container">
        <div class="row bottom-xs">
            <div class="col-md-10">
                <h1 class="home">{{- .Params.h1 -}}</h1>
            </div>
        </div>
    </div>
</div>
<div id="home-portfolio">
    <div id="carousel-container">
        <div id="carousel">
            {{- range .Params.portfolio -}}
            <div class="home-slides">
                {{- range .images -}}
                <a href="{{- .url -}}" title="{{- .title -}}">
                    <img src="{{- .src -}}" alt="{{- .title -}}">
                </a>
                {{- end -}}
            </div>
            {{- end -}}
        </div>
    </div>
</div>
{{- with .Params.section3 -}}
<div id="home-we-do" class="section">
    <div class="container">
        <h2>{{- .title -}}</h2>
        {{- range .services -}}
        <h4><a href="{{- .url -}}">{{- .name -}}</a></h4>
        {{- end -}}
        <div class="row sub">
            <div class="col-sm-6">
                <h2>{{- .subtitle -}}</h2>
            </div>
            <div class="col-sm-6">
                <p>{{- .description | markdownify -}}</p>
            </div>
        </div>
    </div>
</div>
{{- end -}}
{{ with .Params.section4 }}
<div id="home-our-work" class="section">
    <div class="container">
        <div class="row header">
            <div class="col-sm-8">
                <h2>{{.subtitle }}</h2>
            </div>
            <div class="col-sm-4 end-sm">
                <p>{{ .title }}</p>
            </div>
        </div>
        <!-- Passing casestudy content to the partial -->
        {{ partial "site/casestudy" .casestudy }}
        {{ with .industries }}
        <div class="industries">
            <h1>{{ .title }}</h1>
            <div class="row list">
                {{ range .list }}
                <div class="col-sm-3 item">
                    <div class="inner row">
                        <p class="col-sm-8"> {{ .name }} </p>
                        <div class="col-sm-4 link-arrow"><svg width="19" height="19" viewBox="0 0 19 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.55176 1H17.6935V13.7865" stroke="black" />
                                <path d="M17.6935 1L1 17.6935" stroke="black" />
                            </svg>
                        </div>
                    </div>
                </div>
                {{- end -}}
            </div>
        </div>
        {{- end -}}
    </div>
</div>
{{- end -}}
{{- end -}}