{{- define "main" -}}
<div id="home-hero">
    <div class="container">
        <div class="row bottom-xs">
            <div class="col-md-10">
                <h1 class="home">{{- .Params.h1 -}}</h1>
            </div>
        </div>
    </div>
</div>
<div id="home-portfolio">
    <div id="carousel-container">
        <div id="carousel">
            {{- range .Params.portfolio -}}
            <div class="home-slides">
                {{- range .images -}}
                <a href="{{- .url -}}" title="{{- .title -}}">
                    <img src="{{- .src -}}" alt="{{- .title -}}">
                </a>
                {{- end -}}
            </div>
            {{- end -}}
        </div>
    </div>
</div>
{{- with .Params.section3 -}}
<div id="home-we-do" class="section">
    <div class="container">
        <h2>{{- .title -}}</h2>
        {{- range .services -}}
        <h4><a href="{{- .url -}}">{{- .name -}}</a></h4>
        {{- end -}}
        <div class="row sub">
            <div class="col-sm-6">
                <h2>{{- .subtitle -}}</h2>
            </div>
            <div class="col-sm-6">
                <p>{{- .description | markdownify -}}</p>
            </div>
        </div>
    </div>
</div>
{{- end -}}
{{ with .Params.section4 }}
<div id="home-our-work" class="section">
    <div class="container">
        <div class="row header">
            <div class="col-sm-8">
                <h2>{{.subtitle }}</h2>
            </div>
            <div class="col-sm-4 end-sm">
                <p>{{ .title }}</p>
            </div>
        </div>
        <!-- Passing casestudy content to the partial -->
        {{ partial "site/casestudy" .casestudy }}
        {{ with .industries }}
        <div class="industries">
            <h1>{{ .title }}</h1>
            <div class="row list">
                {{ range .list }}
                {{ partial "site/linkcard" (dict "name" .name "info" "" "url" "#") }}
                {{- end -}}
            </div>
        </div>
        {{- end -}}
    </div>
</div>
{{- end -}}
{{- end -}}