{{- define "main" -}}
<div id="home-hero">
    <div class="container">
        <div class="row middle-xs bottom-sm">
            <div class="col-md-10">
                <h1 class="home">{{- .Params.h1 -}}</h1>
            </div>
        </div>
    </div>
</div>
<div id="home-portfolio">
    <div id="carousel-container">
        <div id="carousel">
            {{- range .Params.portfolio -}}
            <div class="home-slides">
                {{- range .images -}}
                    <img src="{{- .src -}}" alt="{{- .title -}}">
                {{- end -}}
            </div>
            {{- end -}}
        </div>
    </div>
</div>

{{- with .Params.section3 -}}
<div id="home-we-do" class="section">
    <div class="container">
        <h2>{{- .title -}}</h2>
        {{ range where (where (where $.Site.Pages "Type" "services") "IsNode" true) ".File.Dir" "!=" "services/" }}
        <h4><a href="{{- .Permalink -}}">{{- .Params.h1 -}}</a></h4>
        {{- end -}}
        <div class="row sub between-xs">
            <div class="col-md-6 col-lg-6">
                <h2>{{- .subtitle -}}</h2>
            </div>
            <div class="col-md-6 col-lg-5">
                <p>{{- .description | markdownify -}}</p>
            </div>
        </div>
        {{- partial "site/logos" (dict "context" . "logos" .logos) -}}
    </div>
</div>
{{- end -}}

{{- with .Params.section4 -}}
<div id="home-our-work" class="section">
    <div class="container">
        <div class="row between-xs">
            <div class="col-sm-8 col-md-5">
                <h4>{{- .subtitle -}}</h4>
            </div>
            <div class="col-sm-4 align-right">
                <h6 class="with-dash white">
                    <a href="#" title="{{- .title -}}">{{- .title -}}</a>
                </h6>
            </div>
        </div>
        {{- partial "site/casestudy" .casestudy -}}
        {{- with .industries -}}
        <div class="row">
            <div class="col-xs-12">
                <h2>{{- .title -}}</h2>
            </div>
            {{- range .list -}}
            {{- partial "site/linkcard" (dict "context" . "name" .name "info" "" "url" "#" "class" "col-xs-12 col-sm-4 col-md-3") -}}
            {{- end -}}
        </div>
        {{- end -}}
    </div>
</div>
{{- end -}}

{{- with .Params.section5 -}}
<div id="home-we-write" class="section">
    <div class="container">
        <div class="row between-xs">
            <div class="col-md-6 col-lg-5">
                <h2>{{- .subtitle -}}</h2>
            </div>
            <div class="col-md-6 align-right">
                <h6 class="with-dash">
                    <a href="#" title="{{- .title -}}">{{- .title -}}</a>
                </h6>
            </div>
            {{- range where (where $.Site.RegularPages "Type" "articles") "Params.external" true -}}
            {{- partial "site/articlecard" (dict "context" . "img" .Params.listing.img "description" .Params.listing.description "url" .Params.canonical "class" "col-xs-12 col-sm-6") -}}
            {{- end -}}
        </div>
    </div>
</div>
{{- end -}}

{{- partial "site/companies" . -}}
{{- partial "site/cta" . -}}
{{- partial "site/team" (dict "context" . "members" $.Site.Data.team.members) -}}
{{- end -}}