.article-card {
    a {
        display: block;
        div {
            overflow: hidden;
            position: relative;
        }
    }
    .content {
        position: absolute;
        background: black;
        color: white;
        width: 50%;
        max-width: 300px;
        right: -50%;
        top: 0;
        transition: right 0.6s;
        // There's weird 5px gap under the card..
        height: calc(100% - 5px);
        img {
            // To prevent the space under inline img
            display: block;
        }
        p {
            position: absolute;
            margin-bottom: 0;
            left: 30px;
            right: 30px;
            bottom: 30px;
        }
    }
    &:hover {
        .content {
            right: 0;
        }
    }
}