.casestudy {
	padding: 125px 60px;
	@include breakpoint(md-down) {
		padding: 50px 50px;
	}
	.infos {
		align-self: center;
		h4 {
			margin: initial;
		}
		p {
			color: $black_sub1;
			margin: 8px 0px;
		}
		.btn {
			margin-top: 40px;
		}
	}
	.quote {
		align-self: center;
		padding-left: 50px;
		@include breakpoint(md-down) {
			padding: 50px 0;
		}
		.quote-text {
			margin-bottom: 50px;
		}
		.author {
			img {
				border-radius: 100%;
				width: 2.5rem;
				height: 2.5rem;
				object-fit: cover;
			}
			p {
				line-height: 22px;
				margin: 0;
				padding-left: 15px;
			}
		}
	}

	.stats {
		border-left: 1px solid #00000011;
		text-align: center;
		@include breakpoint(md-down) {
			padding-top: 60px;
			border-left: none;
			border-top: 1px solid #00000011;

		}
		.value{
			padding: 35px 0px;
		}
		h4,
		p {
			margin: 0;
		}
	}
}
