.casestudy {
	padding: 60px 60px;
	.infos {
		h4 {
			margin: initial;
		}
		p {
			color: $black_sub1;
			margin: 8px 0px;
		}
		.btn {
			margin-top: 40px;
		}
	}
	.quote {
		padding: 0px 50px;
		.quote-text {
			margin-bottom: 50px;
		}
		.author {
			margin-right: 0;
			margin-left: 0;
			img {
				border-radius: 100%;
				width: 40px;
				height: 40px;
				object-fit: cover;
				margin-right: 20px;
			}
			p {
				line-height: 22px;
				margin: 0;
			}
		}
	}

	.stats {
		border-left: 1px solid #00000011;
		text-align: center;
		> div {
			padding: 25px 0px;
		}
		h4,
		p {
			margin: 0;
		}
	}
}
