#our-subsidiary-companies {
	@include breakpoint(md-down) {
		h6{
			text-align: left;
		}
	}
	.companies {
		margin-top: 80px;
		svg {
			margin-bottom: 20px;
		}
		a {
			text-decoration: underline;
		}
		.content{
			padding-top: 25px;
			padding-bottom: 25px;
		}
		.content-mobile{
			display: none;
		}
		@include breakpoint(sm-down) {
			.content{
				svg{
					margin: 0;
				}
			}
			.content-mobile{
				display: block;
			}
		}
	}
}