#our-subsidiary-companies {
	padding-top: 4em;
	padding-bottom: 4em;
	@include breakpoint(sm) {
		padding-top: 8em;
		padding-bottom: 8em;
	}
	h2{
		margin-bottom: 0;
	}
	h6{
		text-align: left;
		@include breakpoint(md) {
			text-align: right;
		}
	}

	.companies {
		margin-top: 80px;
		a {
			text-decoration: underline;
		}
		.content{
			position: relative;
			margin-bottom: 50px;
			a{
				position: absolute;
				bottom:0;
			}
			p{
				margin-top: 15px;
				padding-bottom: 10px;
			}
			svg{
				margin: 0;
			}

		}
	}
}