#our-subsidiary-companies {
	h6{
		text-align: left;
		@include breakpoint(md) {
			text-align: right;
		}
	}

	.companies {
		margin-top: 80px;
		a {
			text-decoration: underline;
		}
		.content{
			padding-top: 25px;
			padding-bottom: 25px;
			svg{
				margin: 0;
			}
		}
		.content-mobile{
			display: block;
		}
		@include breakpoint(sm) {
			.content-mobile{
				display: none;
			}
		}
	}
}