#cta-section {
    background: $accent;
    padding-top: 10em;
    padding-bottom: 10em;
    h3 {
        max-width: 400px;
    }
    .btn{
        display: none;
    }

    @include breakpoint(sm-down) {
        h6{
            display: none;
        }
        .btn{
            display: block;
        }
    }
}