$link-card-height: 160px;
$link-card-with-info-height: 260px;
.link-card {
	margin-bottom: 1rem;
	.inner {
		position: relative;
		min-height: $link-card-height;
		color: $black;
		background-color: $white;
		border-bottom: 3px solid #d7d7d7;
		transition: 0.15s cubic-bezier(0.45, 0.21, 0.24, 0.87);
		display: flex;
		padding: 25px;
		cursor: pointer;
		@include breakpoint(sm-down) {
			min-height: auto;
			border-bottom: none;
			border-left: 8px solid #0066ff;
			p{
				margin: 0;
			}
		}
		&.with-info {
			min-height: $link-card-with-info-height;
		}
		.content {
			align-self: flex-end;
			p {
				&:last-child {
					margin-bottom: 0;
				}
				&.info {
					color: $black_sub1;
				}
			}
		}
		.link-arrow {
			position: absolute;
			top: 15px;
			right: 14px;
			transition: 0.4s cubic-bezier(0.45, 0.2, 0.25, 0.85);
			opacity: 0;
			transform: translateY(10px);
		}
		&:hover {
			@include breakpoint(sm) {
			border-bottom: 8px solid #0066ff;
			// 8px is 0.5rem, which is the half of the spacing between the cards.
			// Can't use .rem because not the same unit.
			min-height: $link-card-height + 8px;
			margin-top: -8px;
			&.with-info {
				min-height: $link-card-with-info-height + 8px;
			}

				&:hover .link-arrow {
					opacity: 1;
					transform: translateY(0px);
				}
	
			}
		}
	}
}
