.site-footer {
    background-color: $black;
    color: white;
    border-top: 1px solid white;
    padding: 40px 0 0;
    .dd-icon{
        padding-top:50px;
        padding-bottom: 50px;
        @include breakpoint(md) {
            padding-top:0;
            padding-bottom: 0;
        }
    }
    .subfooter {
        margin-top: 40px;
    }
    p.small {
        font-weight: 600;
        margin-top: 0;
    }
    ul {
        margin-top: 20px;
        padding-left: 0px;
        list-style: none;
        li {
            a {
                color: white !important;
                text-decoration: none;
                font-size: 1.0625rem;
                line-height: 2em;
                display: block;
            }
            &.active a {
                text-decoration: underline;
                font-weight: 600;
            }
        }
    }
    .big {
        ul li a {
            font-size: 1.75rem;
        }
    }
}