#header-main {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    color: black;
    &.black {
        background-color: black;
        color: white;
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            background-color: white;
        }
        #header button {
            color: black;
        }
    }
}

#header {
    height: $mobilenavheight;
    margin: 0;
    @include breakpoint(sm) {
        height: $navheight;
        padding-left: 0;
        padding-right: 0;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    .logo {
        display: inline-block;
        font-size: 1.0625rem;
        line-height: 1.59em;
        vertical-align: middle;
    }
    button {
        outline: none !important;
        z-index: 12;
        position: relative;
        display: inline-block;
        margin-left: 100px;
        vertical-align: middle;
        font-size: 1.0625rem;
        line-height: 1.59em;
        color: white;
        font-weight: 300;
        @include breakpoint(sm-down) {
            float: right;
        }
    }
    span.text {
        display: none;
        @include breakpoint(sm) {
            display: inline-block;
            margin-left: 20px;
        }
    }
    .hamburger{
        cursor: $hover;
        &:active{
            cursor: $click;
        }
    }
    .hamburger-box {
        vertical-align: middle;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        font-family: $hfont;
        &.right {
            float: right;
        }
    }
    li {
        float: left;
        padding-right: 3rem;
        cursor: pointer;
        &:last-child {
            padding-right: 0;
        }
        a:not(.btn) {
            text-align: left;
            font-size: 1rem;
            line-height: 2.375rem;;
            color: inherit;
            text-decoration: none;
        }
    }
    .col-xs-7 li {
        line-height: 3.125rem;
    }
}

#menu-overlay {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: none;
    background-color: $black;
    transition: opacity 0.2s;
    padding-top: 200px;
    overflow-y: auto;
    p.title {
        font-size: 1.75rem;
        line-height: 1.36em;
        color: $white;
    }
    ul.desktop-main {
        margin-top: 100px;
        padding-left: 0px;
        list-style: none;
        color: white;
    }
    li {
        a {
            color: white !important;
            text-decoration: none;
            font-size: 1.0625rem;
            line-height: 2.18em;
            display: block;

        }
        &.active a {
            text-decoration: underline;
            font-weight: 600;
        }
    }
    .container{
        padding: 0;
    }
    padding-top: 100px;
    ul.mobile-main { 
        padding: 0 20px;
        margin: 0;
        a {
            padding: 15px 0;
            &:hover{
                cursor: $hover;
            }
        }
        li {
            border-bottom: 1px solid $white;
            a {
                font-size: 1.375rem;
                line-height: 1.5em;
            }
            &.has-sublinks {
                a {
                    display: flex;
                    justify-content: space-between;
                }
                .arrow-top-icon {
                    display: none;
                }
                .content {
                    display: none;
                    li:last-child {
                        padding-bottom: 25px;
                    }
                }
                li {
                    &:last-child {
                        border-bottom: none;
                    }
                }
                &.opened {
                    .plus-icon{
                        display: none;
                    }
                    .arrow-top-icon{
                        display: flex;
                    }
                    .content {
                        display: block;
                    }
                }
            }
        }
    }
    @include breakpoint(sm) {
        padding-top: 150px;
        display: none;
        ul {
            margin: 0;
            padding: 0 0 50px 0;
            border-bottom: none;
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}

.with-menu {
    overflow-y: hidden;
    #menu-overlay {
        display: block;
        opacity: 1;
    }

    #header {
        .logo, ul li a {
            color: white;
        }
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            background-color: white;
        }
        button {
            color: white !important;
        }
    }
    #header-main {
        z-index: 12;
        position: relative;
        background: $black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        a, li {
            position: relative;
            z-index: 12;
        }
    }
}