#header-main {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    color: black;
    &.black {
        background-color: black;
        color: white;
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            background-color: white;
        }
        #header button {
            color: black;
        }
    }
}

#header {
    height: $mobilenavheight;
    margin: 0;
    @include breakpoint(sm) {
        height: $navheight;
        padding-left: 0;
        padding-right: 0;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    .logo {
        display: inline-block;
        font-size: 1.0625rem;
        line-height: 1.59em;
        vertical-align: middle;
    }
    button {
        outline: none !important;
        z-index: 12;
        position: relative;
        display: inline-block;
        margin-left: 100px;
        vertical-align: middle;
        font-size: 1.0625rem;
        line-height: 1.59em;
        color: white;
        font-weight: 300;
        @include breakpoint(sm-down) {
            float: right;
        }
    }
    .hamburger-box {
        margin-right: 20px;
        vertical-align: middle;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        font-family: $hfont;
        &.right {
            float: right;
        }
    }
    li {
        float: left;
        padding-right: 3rem;
        cursor: pointer;
        &:last-child {
            padding-right: 0;
        }
        a:not(.btn) {
            text-align: left;
            font-size: 1rem;
            line-height: 2.375rem;;
            color: inherit;
            text-decoration: none;
        }
        &.has-submenu {
            ul {
                display: none;
                position: absolute;
                top: 80%;
                border: 1px solid #DFDFDF;
                box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
                padding: 0px 20px;
                width: 14rem;
                z-index: 5;
                background: white;
            }
            li {
                float: none;
                padding-left: 0.625rem;
                border-bottom: 1px solid #DFDFDF;
                a {
                    line-height: 4.5rem;
                }
                &:last-child {
                    border: none;
                }
            }
            &:hover {
                ul {
                    display: block;
                }
            }
        }
    }
    .col-xs-7 li {
        line-height: 3.125rem;
    }
}
@mixin menu-overlay() {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: none; 
    background-color: $black;
    transition: opacity 0.2s;
    padding-top: 200px;
    p.title {
        font-size: 1.75rem;
        line-height: 1.36em;
        color: $white;
    }
    ul {
        margin-top: 100px;
        padding-left: 0px;
        list-style: none;
        color: white;
        li {
            a {
                color: white !important;
                text-decoration: none;
                font-size: 1.0625rem;
                line-height: 2.18em;
                display: block;
            }
            &.active a {
                text-decoration: underline;
                font-weight: 600;
            }
        }
    }
}
#menu-overlay {
    @include menu-overlay();
    @include breakpoint(md-down) {
        padding-top: 150px;
        ul{
            margin: 0;
            padding-bottom: 50px;
        }
    }
}
#menu-overlay-mobile{
    .container{
        padding: 0;
    }
    @include menu-overlay();
    padding-top: 100px;
    ul{ 
        padding: 0 20px;
        margin: 0;
        border-bottom: 1px solid $white;
        &:last-of-type {
            border-bottom: 1px solid $white;
        }
        .title{
            margin: 0;
            padding: 15px 0;
            &:hover{
                cursor: pointer;
            }
        }
        &.has-sublinks{
            h6{
                span{
                    display: flex;
                    margin-left: auto;
                }
                .arrow-top-icon{
                    display: none;
                }
                &.active {
                    .plus-icon{
                        display: none;
                    }
                    .arrow-top-icon{
                        display: flex;
                    }
                }
            }
            .content{
                li:last-child{
                    padding-bottom: 25px;
                }
                &.collapse {
                  display: none;
                  overflow: hidden;
                  &.show {
                   display: block;
                  }
                }
            }
        }
    }
} 
.with-menu {
    overflow-y: hidden;
    #menu-overlay {
        display: block;
        opacity: 1;
    }
    @include breakpoint(sm-down) {
        #menu-overlay-mobile{
            opacity: 1;
            display: block;  
        }
    }
    #header {
        .logo, ul li a {
            color: white;
        }
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            background-color: white;
        }
        button {
            color: white !important;
        }
    }
    #header-main {
        z-index: 12;
        position: relative;
        background: $black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        a, li {
            position: relative;
            z-index: 12;
        }
    }
}