#casestudies-info{
    @include breakpoint(sm-down) {
        padding-bottom: 0;
        padding-top:  18em;	
    }
    .row {
        @include breakpoint(sm) {
          height: calc(70vh - 5.25em);	
        }
    }
    background-color: black;
    color: $white;
    h1{
        @include breakpoint(sm) {
            margin-bottom: 0rem;	
        }
    }
}
    
#casestudies-content{
    .tagline{
        margin-bottom: 50px;
    }
}

#casestudies-challenge{
    background-color: black;
    color: white;
    .casestudy {
        margin: 80px 0;
        background-color: $white;
        color: $black;
        padding: 50px 50px;
        @include breakpoint(lg) {
            padding: 125px 60px;
        }
        .datas{
            .content{
                margin: 50px 0;
                @include breakpoint(sm) {
                    margin: 0;
                }
            }

            h4,p{
                margin: 0;
            }
            text-align: center;
        }
    }
}

#casestudies-list{
    border-top: 1px solid $black_sub3 !important;
}