#case-studies-info {
    @include breakpoint(sm-down) {
        padding-bottom: 0;
        padding-top: 18em;
    }

    .row {
        @include breakpoint(sm) {
            height: calc(70vh - 5.25em);
        }
    }

    background-color: black;
    color: $white;

    h1 {
        @include breakpoint(sm) {
            margin-bottom: 0rem;
        }
    }
}

#case-studies-content {
    .tagline {
        margin-bottom: 50px;
    }
}

#case-studies-challenge {
    background-color: black;
    color: white;

    .content {
        margin-bottom: 100px;
    }

    .casestudy {
        margin: 25px 0 80px 0;
        background-color: $white;
        color: $black;
        padding: 50px 50px;

        @include breakpoint(lg) {
            padding: 125px 60px;
        }

        .datas {
            .content {
                margin: 50px 0;

                @include breakpoint(sm) {
                    margin: 0;
                }
            }

            h4,
            p {
                margin: 0;
            }

            text-align: center;
        }
    }

    #images-thumbnails {
        .items-container {
            display: block;
            @include breakpoint(sm) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas:
                    "a c"
                    "b c";
                gap: 5px 10px;
                grid-auto-flow: column;
                img {
                    padding: 0;
                }
            }

            img {
                padding: 10px 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .c {
                grid-area: c;
            }

            .a {
                grid-area: a;
            }

            .b {
                grid-area: b;
            }
        }
    }

}
#images-gallery {
    .item{
      
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
   
}

#carousel-container {
    background-color: $white;
    height: 1000px;
    #case-studies-carousel {
        position: absolute;
        left: 0;
        width: 100%;
        margin-top: 50px;
        .slides {
            width: 400px;
            position: absolute !important;
            top: 0;
            img {
                padding: 0 15px;
                width: 100%;
                height: auto;
            }
        }
    }
}


#case-studies-list{
    border-top: 1px solid $black_sub3;
}