#contact {
    h1{
        margin-bottom: 20px;
        &.with-dash {
            position: relative;
            padding-left: 0px;
            transition: 0.4s;
            &:before {
                content: '';
                transition: 0.4s;
                position: absolute;
                border-bottom: 2px solid black;
                left: 0px;
                width: 0px;
                top: calc(50% - 1px);
            }
            &.white::before {
                border-color: white;
            }
            &:hover {
                padding-left: 70px;
                &:before {
                    width: 50px;
                }
            }
        }
    }
    .contact-infos {
        p:not(:first-child) {
            margin: 0;
        }
        .info {
            margin: 25px 0;

            p:first-child {
                padding-bottom: 10px;
            }

            @include breakpoint(md) {
                margin: 0;
            }
        }
    }
}