#home-hero {
	.row {
		height: calc(100vh - 5.25em);
		@include breakpoint(sm-down) {
			height: calc(100vh - 18em);	
		}
	}
}

#home-portfolio {
	#carousel-container {
		position: relative;
		overflow: hidden;
		background-color: $black;
		height: 800px;
	}
	#carousel {
		position: absolute;
		left: 0;
		width: 100%;
		.home-slides {
			width: 400px;
			position: absolute;
			top: 0;
			padding: 60px 30px;
			img {
				width: 100%;
				height: auto;
				margin-bottom: 30px;
				cursor: pointer;
			}
		}
	}
}

#home-we-do {
	h4 {
		padding-bottom: 30px;
		border-bottom: 1px solid black;
		a {
			display: inline-block;
    		width: calc(100% - 55px);
		}
		&:after {
			content: '→';
			float: right;
			opacity: 0;
			padding-right: 20px;
			transition: 0.4s;
		}
		&:hover::after {
			opacity: 1;
			padding-right: 0;
		}
	}
	.sub {
		margin-top: 150px;
		margin-bottom: 150px;
	}
	.logos {
		margin-left: 0;
		margin-right: 0;
		svg {
			fill: black;
		}
	}
}

#home-our-work {
	background-color: $black;
	color: $white;
	.casestudy {
		margin: 80px 0;
		background-color: $white;
		color: $black;
	}
}

#home-we-write {
	border-bottom: 1px solid $black_sub3;
	.featured {
		position: relative;
		overflow: hidden;
		.content {
			position: absolute;
			background: black;
			color: white;
			width: 300px;
			right: -300px;
			top: 0;
			transition: right 0.6s;
			// There's weird 5px gap under the card..
			height: calc(100% - 5px);
			img {
				// To prevent the space under inline img
				display: block;
			}
			p {
				position: absolute;
				margin-bottom: 0;
				left: 30px;
				right: 30px;
				bottom: 30px;
			}
		}
		&:hover {
			.content {
				right: 0;
			}
		}
	}
}
