#home-hero {
	.row {
		height: calc(100vh - 5.25em);
	}
}

#home-portfolio {
	#carousel-container {
		position: relative;
		overflow: hidden;
		background-color: $black;
		height: 800px;
	}
	#carousel {
		position: absolute;
		left: 0;
		width: 100%;
		.home-slides {
			width: 400px;
			position: absolute;
			top: 0;
			padding: 60px 30px;
			img {
				width: 100%;
				height: auto;
				margin-bottom: 30px;
				cursor: pointer;
			}
		}
	}
}

#home-we-do {
	h4 {
		padding-bottom: 30px;
		border-bottom: 1px solid black;
		&:after {
			content: '→';
			float: right;
			opacity: 0;
			padding-right: 20px;
			transition: 0.4s;
		}
		&:hover::after {
			opacity: 1;
			padding-right: 0;
		}
	}
	.sub {
		margin-top: 150px;
		h2 {
			max-width: 550px;
		}
	}
}

#home-our-work {
	background-color: $black;
	color: $white;
	.top {
		h2 {
			font-size: xx-large;
			max-width: 450px;
			font-weight: 300;
			line-height: 49px;
		}
		p {
			font-size: large;

			&:before {
				content: '—';
				padding-right: 10px;
				transition: 0.4s;
			}
			margin-top: 0;
		}
    }
    .casestudy{
        background-color: $white;
        color: $black;
    }
}
