$sub-section-spacing: 100px 0px;
#home-hero {
	.row {
		height: calc(100vh - 5.25em);
	}
}

#home-portfolio {
	#carousel-container {
		position: relative;
		overflow: hidden;
		background-color: $black;
		height: 800px;
	}
	#carousel {
		position: absolute;
		left: 0;
		width: 100%;
		.home-slides {
			width: 400px;
			position: absolute;
			top: 0;
			padding: 60px 30px;
			img {
				width: 100%;
				height: auto;
				margin-bottom: 30px;
				cursor: pointer;
			}
		}
	}
}

#home-we-do {
	h4 {
		padding-bottom: 30px;
		border-bottom: 1px solid black;
		&:after {
			content: '→';
			float: right;
			opacity: 0;
			padding-right: 20px;
			transition: 0.4s;
		}
		&:hover::after {
			opacity: 1;
			padding-right: 0;
		}
	}
	.sub {
		margin-top: 150px;
		h2 {
			max-width: 550px;
		}
	}
}

#home-our-work {
	background-color: $black;
	color: $white;
	.header {
		margin: $sub-section-spacing;
		h2 {
			font-size: xx-large;
			max-width: 450px;
			font-weight: 300;
			line-height: 49px;
		}
		p {
			font-size: large;

			&:before {
				content: '—';
				padding-right: 10px;
				transition: 0.4s;
			}
			margin-top: 0;
		}
	}
	.casestudy {
		margin: $sub-section-spacing;
		background-color: $white;
		color: $black;
	}

	.industries {
		margin: $sub-section-spacing;
		h1 {
			margin: 0;
			font-size: 45px;
		}
		.list {
			.item {
				.inner {
					position: relative;
					min-height: 160px;
					color: $black;
					background-color: $white;
					margin: 10px 5px;
					padding-left: 25px;
					border-bottom: 3px solid #D7D7D7;
					transition:  0.15s cubic-bezier( 0.45, 0.21, 0.24, 0.87 );
					display: flex;
					p {
						align-self: flex-end;
					}
					.link-arrow {
						transition: 0.4s cubic-bezier( 0.45, 0.21, 0.24, 0.87 );
						text-align: right;
						opacity: 0;
						svg {
							margin: 18px 10px;
						}
						transform: translateY(10px);
					}
					&:hover {
						border-bottom: 8px solid #0066ff;
						cursor: pointer;
						&:hover .link-arrow {
							opacity: 1;
							transform: translateY(0px);
						}
					}
				}
			}
		}
	}
}
