#services-hero {
	background-color: black;
    .row {
    
    height: calc(100vh - 20em);
		h1 {
			color: white;
			margin-bottom: 2rem;
		}
		h6 {
			color: white;
		}
		@include breakpoint(sm) {
		  height: calc(100vh - 5.25em);	
		}
	}
}

#services-list, #services-full, #services-single-clients {
	background-color: black;
	color: white;
}

#services-full {
	.small {
		color: $black_sub1;
	}
	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}
}

#services-single-hero {
    .row {
    height: calc(100vh - 21.875em);
		@include breakpoint(sm) {
      height: calc(100vh - 5.25em);
		}
	}
}

#services-single-clients {
  .row{
    @include breakpoint(md-down) {
        margin: 0 auto;
    }
  .icons {
      @include breakpoint(md-down) {
          flex-basis:33.33333%;
          &:nth-child(3n + 2) {
              text-align: center;
          }
          &:nth-child(3n) {
              text-align: right;
          }
          svg {
              margin-bottom: 4rem;
          }
      }
      @include breakpoint(sm-down) {
          svg {
              max-width: 70%;
              max-height: 2.5rem;
          }
      }
  }
	svg {
			fill: white;
		}
  }
}
	