#services-hero {
	background-color: black;
    .row {
		height: calc(100vh - 5.25em);
		h1 {
			color: white;
			margin-bottom: 2rem;
		}
		h6 {
			color: white;
		}
		@include breakpoint(sm-down) {
			height: calc(100vh - 20em);	
		}
	}
}

#services-list, #services-full, #services-single-clients {
	background-color: black;
	color: white;
}

#services-full {
	.small {
		color: $black_sub1;
	}
	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}
}

#services-single-hero {
    .row {
		height: calc(100vh - 5.25em);
		@include breakpoint(sm-down) {
			height: calc(100vh - 21.875em);
			h1{
				margin: 0;
				line-height: 3.46875rem;
			}
		}
	}
}

#services-single-clients {
	.logos svg {
		fill: white;
	}
}
	